* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(135deg, #2e7d5b, #3fa37c);
    padding: 30px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.parc {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

header img {
    width: 120px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    color: #2e3d34;
    line-height: 1.6;
}

#explica{
    background-color: #2e7d5b;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#text1{
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 15px;
    color: white;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#altres{
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 30px;                  
    padding: 30px 5%;
    flex-wrap: wrap;            
}

#altres a{
    display: flex;
    justify-content: center;
}

#altres img{
    width: 85%;                 
    max-width: 350px;           
    border-radius: 30px; 
    transition: transform 0.5s ease;
}

#altres img:hover{
    transform: scale(1.08);
}

#text2{
    padding-right: 2%;
    padding-left: 2%;
    width: 50%;
    color: white;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#img3601{
    display: flex;
    text-align: center;
    background-color: rgb(101, 67, 33);
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#text3{
    padding-right: 2%;
    padding-left: 2%;
    width: 50%;
    color: white;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#img3602{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;   
    justify-content: space-between;
    text-align: center;
    background-color: rgb(121, 121, 120);
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#text4{
    padding-right: 2%;
    padding-left: 2%;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#img3603{
    display: flex;
    text-align: center;
    background-color: rgb(249, 236, 59);
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#text4{
    padding-right: 2%;
    padding-left: 2%;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

#agraiments{
    display: flex;
    text-align: center;
    background-color: rgb(249, 236, 59);
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

footer{
    justify-content: center;
    text-align: center;
    padding-top: 3%;
}
