#titol{
    justify-content: center;
    display: flex;
    font-size: 330%;
    color: #f6f174; 
    letter-spacing: 6px;
}

body{
    background-color: rgb(249, 227, 199);
}

#dalt {
    padding: 80px;
}

header {
    background-image: url(images/miquel1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#text{
    text-align: center;
}

#imagtext{
    padding-top: 3%;
    text-align: center;
}

#obres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    background-color: rgb(250, 216, 176);
    
}

#p1{ 
    grid-column: 1; 
    grid-row: 1; 
}
#p1:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p2{ 
    grid-column: 3; 
    grid-row: 2; 
}
#p2:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p3{ 
    grid-column: 1; 
    grid-row: 3; 
}
#p3:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p4{ 
    grid-column: 3; 
    grid-row: 4; 
}
#p4:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p5{ 
    grid-column: 1; 
    grid-row: 5; 
}
#p5:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p6{ 
    grid-column: 2; 
    grid-row: 1; 
}
#p6:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p7{ 
    grid-column: 2; 
    grid-row: 2; 
}
#p7:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p8{ 
    grid-column: 2; 
    grid-row: 3;
}
#p8:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p9{ 
    grid-column: 2; 
    grid-row: 4; 
}
#p9:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#p10{ 
    grid-column: 2; 
    grid-row: 5; 
}
#p10:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

footer{
    justify-content: center;
    text-align: center;
    padding-top: 3%;
}
